<div class="maincontact">
    <div class="heading">
        <span class="get">Get in Touch with us</span>
    </div>
    <div class="namehead">
        <label>your name</label><input type="name" class="name"><br>
        <label>Email</label><input type="email" class="email"><br>
        <label>FeedBack</label><textarea class="feed" required></textarea><br><br>
        <button (click)="clicking()" class="btns">Submit</button>
    </div>
    <div class="backhome">
         <button class="back"><a routerLink="/home" class="back">Back To Home</a></button>
    </div>
</div>