.mainlogin{
    margin-top: 70px;
}
.loginbutton {
    width: 73px;
    height: 31px;
    border-radius: 13px;
}
.loginbtn {
    margin-top: 33px;
}
p.loginpara {
    font-size: 35px;
}
.right1{
    // float: right;
    margin-left: 26px;
}
.right{
    
}
label {
    font-size: 17px;
    font-weight: 800;
}
button.loginregister {
    width: 110px;
    height: 29px;
    border-radius: 9px;
    margin-left: 58px;
}
a {
    text-decoration: none;
}
.infomation {
    float: right;
    margin-right: 298px;
    margin-top: 22px;
}
.forget {
    margin-bottom: 17px;
}
